.todo label {
    padding: 10px;
    margin-bottom: 10px;
    display: block;
    border-radius: 4px;
    position: relative;
}
.done {
    text-decoration: line-through;
    background-color: #59C3C3;
}
.not_done {
    background-color: #EBEBEB;
}
.checkbox {
    display: none;
}
.remove {
    background-color: rgba(255,255,255,.3);
    color: #fff;
    border-radius: 0 4px 4px 0;
    float: right;
    border: none;
    top: 0;
    position: absolute;
    right: 0;
    height: 100%;
    width: 40px;
}
.not_done .remove {
    background-color: rgba(0,0,0,.3);
}
